<ion-content>

<div [innerHtml] = 'topheader'></div>

<ion-grid class = "mid_container prefoot policy_servicing">
      <ion-row>
        <ion-col>
        <p><img src = "https://i.ibb.co/M9Yw1hK/icon-list-1.png"><span>Move value from one policy to another</span></p>
        <ul class = "bottom_links">
        <li><a href = "#"><span><b>Pay with Policy Value</b> <i class="fa fa-chevron-right"></i></span></a></li>
        <li><a href = "#"><span><b>Standing Instructions</b> <i class="fa fa-chevron-right"></i></span></a></li>
        </ul>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        <p><img src = "https://i.ibb.co/hD3jWKg/icon-list-2.png"><span>Cash out to your policy values</span></p>
        <ul class = "bottom_links">
        <li><a href = "#"><span><b>Values Withdrawal</b> <i class="fa fa-chevron-right"></i></span></a></li>
        <li><a href = "#"><span><b>Payout Method</b> <i class="fa fa-chevron-right"></i></span></a></li>
        </ul>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        <p><img src = "https://i.ibb.co/3Crh4rN/icon-list-3.png"><span>Take a loan against your policy value</span></p>
        <ul class = "bottom_links">
        <li><a href = "#"><span><b>Loans</b> <i class="fa fa-chevron-right"></i></span></a></li>
        </ul>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        <p><img src = "https://i.ibb.co/ZHPx85V/icon-list-4.png"><span>Payment options for your premiums</span></p>
        <ul class = "bottom_links">
        <li><a href = "#"><span><b>Premium Payment Method</b> <i class="fa fa-chevron-right"></i></span></a></li>
        </ul>
        </ion-col>
      </ion-row>

      <div style = "text-align:center;"><a onclick="scrollToTop()" class = "goup_link"><span><i class="icon ion-ios-arrow-up"></i></span></a></div>
        
        
</ion-grid>



</ion-content>